aiofiles
aiogram
aiohttp
aiosignal
annotated-types
async-timeout
attrs
black
charset-normalizer
click
et-xmlfile
flake8
frozenlist
idna
install
isort
magic-filter
mccabe
multidict
mypy-extensions
openpyxl
packaging
pathspec
platformdirs
pycodestyle
pydantic
pydantic_core
pyflakes
python-dotenv
pytz
requests
schedule
six
tomli
typeguard
typing_extensions
tzlocal
urllib3
yarl
